# Control Structures

# Taking User Input

In [3]:
score = input("Enter the current score: ")# input() => always returns a string

Enter the current score:

In [4]:
score = int(input("Enter the current score: "))

Enter the current score: 10

In [5]:
score

10

In [6]:
print(type(score))

<class 'int'>

In [5]:
x = 20

In [6]:
x

20

# Conditional Statements
- if
- if-else
- elif

In [8]:
number = int(input("Enter any number: "))
print(number)

Enter any number: 10
10

In [9]:
if number>= 0:
    print("user has entered a positive", number)

user has entered a positive 10

In [10]:
if number>= 0:
    print("user has entered a positive", number)
else:
    print("user has entered a negative", number)

user has entered a positive 10

In [11]:
if number > 0:
    print("user has entered a positive", number)
elif number == 0:
    print("its a zero",0)
else:
    print("user has entered a negative", number)

user has entered a positive 10

# Example 1:

In [12]:
number = int(input("Enter any number: "))
print(number)

Enter any number: -1
-1

In [13]:
if number>= 0:
    print("user has entered a positive", number)

In [14]:
if number>= 0:
    print("user has entered a positive", number)
else:
    print("user has entered a negative", number)

user has entered a negative -1

In [15]:
if number > 0:
    print("user has entered a positive", number)
elif number == 0:
    print("its a zero",0)
else:
    print("user has entered a negative", number)

user has entered a negative -1

# Example 2

In [16]:
number = int(input("Enter any number: "))
print(number)

Enter any number: 0
0

In [17]:
if number>= 0:
    print("user has entered a positive", number)

user has entered a positive 0

In [18]:
if number>= 0:
    print("user has entered a positive", number)
else:
    print("user has entered a negative", number)

user has entered a positive 0

In [19]:
if number > 0:
    print("user has entered a positive", number)
elif number == 0:
    print("its a zero",0)
else:
    print("user has entered a negative", number)

its a zero 0

# While

In [11]:
index = 1
while index <= 10:
    print(index)
    #index = index+1
    index += 2

1
3
5
7
9

In [12]:
r= list(range(1,10,2))

In [13]:
for item in r:
    print (item)

1
3
5
7
9

In [19]:
Company_names= ["amazon", "flipkart", "snapdeal"]

In [20]:
print (Company_names)

['amazon', 'flipkart', 'snapdeal']

In [21]:
## Convert all the company names in to websites

In [22]:
amazon = "www.amazon.com"

In [23]:
amazon

'www.amazon.com'

In [24]:
for x in Company_names:
    print("www."+x+".com")

www.amazon.com
www.flipkart.com
www.snapdeal.com

In [29]:
websites = []
for i in Company_names:
    websites.append("www."+ i + ".com")
    print ("www."+ i + ".com")

www.amazon.com
www.flipkart.com
www.snapdeal.com

In [30]:
websites

['www.amazon.com', 'www.flipkart.com', 'www.snapdeal.com']

In [32]:
websites = []
for i in Company_names:
    i = "www."+ i + ".com"
    websites.append(i)

In [33]:
websites

['www.amazon.com', 'www.flipkart.com', 'www.snapdeal.com']

In [34]:
vk= {"name":"virat","Age":35,"team":"RCB"}

In [37]:
for i in vk:
    print(i)

name
Age
team

In [38]:
for i in vk.values():
    print(i)

virat
35
RCB

In [39]:
for i,j in vk.items():
    print(i,j)

name virat
Age 35
team RCB

In [41]:
for i, j in enumerate(Company_names):
    print(i, j)

0 amazon
1 flipkart
2 snapdeal

# Break

In [49]:
for i in range (1,11):
    print (i)
    if i == 5:
        break

1
2
3
4
5

# Continue

In [58]:
for i in range(1,11):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [22]:
for i in range(1,11):
    if i%2 == 0:
        print(i)

2
4
6
8
10

# Pass

In [59]:
for i in range(1,11):

IndentationError: expected an indented block (1334445784.py, line 1)

In [ ]:
for i in range(1,11):
    pass

# Exercise 1
- take an input from the user and print the reverse of the number
- Input = 123
- Output = 321

In [61]:
num= input ("enter from user:")
print("Reverse:",num[::-1])

enter from user:123
Reverse: 321

In [62]:
num= input ("enter from user:")
print("Reverse:",num[::-1])

enter from user:123456
Reverse: 654321

# Exercise 2
- Write a program to get the sum of all the elements in the list
- num = [1,2,3]
- output = 6

In [63]:
num = [1,2,3,20,25,30]

In [64]:
sum(num)

81

In [67]:
result = 0
for i in num:
    result += i
print (result)

81