# Args and Kwargs
- args

In [3]:
def sumofnumbers(x,y):
    return x + y

In [4]:
sumofnumbers (2,3)

5

In [5]:
def sumofnumsusingargs(*args):
    print("Args:", args)
    print("Type of Args: ", type(args))

In [6]:
sumofnumsusingargs(2,3)

Args: (2, 3)
Type of Args:  <class 'tuple'>

In [7]:
sumofnumsusingargs(2,3,4,5,6,7,7)

Args: (2, 3, 4, 5, 6, 7, 7)
Type of Args:  <class 'tuple'>

In [8]:
sum((1,2,3))

6

In [9]:
def sumofnumsusingargs(*args):
    print("Args:", args)
    print("Type of Args: ", type(args))
    return(sum(args))

In [10]:
sumofnumsusingargs(1,2,3,4,5,6,7)

Args: (1, 2, 3, 4, 5, 6, 7)
Type of Args:  <class 'tuple'>

28

In [11]:
def sumofnumsusingargs(*args): ## Reciever side
    print("Args:", args)
    print("Type of Args: ", type(args))
    result = 0
    for i in args:
        result += i
    print("result :", result)

In [12]:
sumofnumsusingargs(1,2,3,4,5)

Args: (1, 2, 3, 4, 5)
Type of Args:  <class 'tuple'>
result : 15

In [13]:
t = (10,20,30,40,50)

In [14]:
sumofnumsusingargs(t)

Args: ((10, 20, 30, 40, 50),)
Type of Args:  <class 'tuple'>

TypeError: unsupported operand type(s) for +=: 'int' and 'tuple'

In [15]:
sumofnumsusingargs(t[0],t[1],t[2])

Args: (10, 20, 30)
Type of Args:  <class 'tuple'>
result : 60

In [16]:
sumofnumsusingargs(*t)

Args: (10, 20, 30, 40, 50)
Type of Args:  <class 'tuple'>
result : 150

In [17]:
I = [10,20,30,40,50]

In [18]:
sumofnumsusingargs(*I)

Args: (10, 20, 30, 40, 50)
Type of Args:  <class 'tuple'>
result : 150

In [30]:
l = [10,20,30,40,50]

In [31]:
sumofnumsusingargs(l)

Args: ([10, 20, 30, 40, 50],)
Type of Args:  <class 'tuple'>

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

In [32]:
sumofnumsusingargs(*l)

Args: (10, 20, 30, 40, 50)
Type of Args:  <class 'tuple'>
result : 150

In [34]:
def sumofnumsusingargs(*args):
    print("Args:", args)
    print("Type of Args: ", type(args))

In [35]:
sumofnumsusingargs(2,3,"X","Y")

Args: (2, 3, 'X', 'Y')
Type of Args:  <class 'tuple'>

In [ ]:
# Create a program where user enters a set of numbers and find the sum of all the numbers

## User Input

In [36]:
userInput = input("Enter comma separated numbers: ")

Enter comma separated numbers: 1,2,3,4,5,6

In [37]:
print(userInput, type(userInput))

1,2,3,4,5,6 <class 'str'>

In [38]:
lst_num = userInput.split(",")

In [39]:
lst_num

['1', '2', '3', '4', '5', '6']

In [40]:
for i in lst_num:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [41]:
new_list = []
for i in lst_num:
    new_list.append(int(i))

In [42]:
new_list

[1, 2, 3, 4, 5, 6]

In [46]:
sumofnumsusingargs(*new_list)

Args: (1, 2, 3, 4, 5, 6)
Type of Args:  <class 'tuple'>

 - Kwargs

In [47]:
def playerdetails(**kwargs):
    for k, v in kwargs.items():
        print("k -> {}, v->, {}".format(k, v))

In [48]:
playerdetails(name = "Virat", age = "33", team = "RCB", salary = 1000000)

k -> name, v->, Virat
k -> age, v->, 33
k -> team, v->, RCB
k -> salary, v->, 1000000

In [50]:
d = {"name" : "Virat", "age" : 33, "team" : "RCB", "salary" : 1000000}

In [51]:
playerdetails(**d)

k -> name, v->, Virat
k -> age, v->, 33
k -> team, v->, RCB
k -> salary, v->, 1000000

# COMPREHENSIONS

- List Comprehensions

In [54]:
r = range(1,11)
print(list(r))
result = []
for i in r:
    result.append(i * i)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
result_list = [item*item for item in range(1,11)]
print(result_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [56]:
[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Example 1

- print all numbers from 1 to 21 which are divisible by 2

In [57]:
# Traditional
evens = []
for i in range(1,22):
    if i % 2 == 0:
        evens.append(i)
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [58]:
evens = [i for i in range(1,22) if i%2==0]
evens

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [59]:
# Write a program to get a list of all characters from a subject which are consonants using LC

In [60]:
input_ = "MATEHEMATICS"
#output = ["M",T,"H","M","T","C","S"]

In [61]:
result = [i for i in input_ if i not in "AEIOU"]
print(result)

['M', 'T', 'H', 'M', 'T', 'C', 'S']

In [62]:
for i in input_:
    if i not in "AEIOU":
        print(i)

M
T
H
M
T
C
S

In [63]:
## websites = ["amazon", "flipkart", "snapdeal"]
#output = ["www.amazon.com", "www.flipkart.com", "www.snapdeal.com"]
## Strictly through LC